<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
	<div th:replace="fragments :: menu"></div>


		<main role="main">
	
	<div class="container">

		<div class="card">
			<h4 class="card-header">Alquiler</h4>
			
			<div class="card-body">
				<form th:action="@{/alquiler/guardar}" th:object="${alquiler}"
					method="post" encType="multipart/form-data">
					
					<input type="hidden" th:field="*{id}"/>							
					
					 <div class="form-group">
						    <label for="select_cli">Seleccione cliente</label>
								<select  class="form-control form-group" id="select_cli" th:field="${alquiler.cliente.id}" >
								  <option th:each="cli : ${listaCliente}"  th:value="${cli.id}"  th:text="'('+${cli.id} + ') ' + ${cli.dni} + ' - ' + ${cli.nombre} + ' ' + ${cli.apellidos}" ></option>
								</select>						
					
						
						<div class="form-row">
							    <label for="select_mobi">Seleccione mobiliario</label>
							<select  class="form-control form-group" id="select_mobi"  th:field="${alquiler.mobiliario.id}">
						  		<option th:each="mo : ${listaMobi}"  th:value="${mo.id}"  th:text="${mo.alias}" ></option>
							</select>						
						</div>	
					
						
							<div class="form-group row input-group mb-3">
								  <span class="input-group-text">Precio  &euro; </span>
								  <input type="text" class="form-control" th:field="${alquiler.precio}"
										 title="Precio">
							</div>
										
						<div class="form-group row">
							  <label for="fecha_inicio" class="col-2 col-form-label">Fecha inicio:</label>
							  <div class="form-group col-md-4">	
							    <input id="fecha_inicio" class="form-control" type="date"  th:field="${alquiler.fechaInicio}" >
							   </div>
							   <label for="fecha_fin" class="col-2 col-form-label">Fecha fin:</label>
							   <div class="form-group col-md-4">							
							    <input id="fecha_fin" class="form-control" type="date"  th:field="${alquiler.fechaFin}" >
							 </div>
						</div>
						
						<div class="form-row">
							<label for="luz_inicio" class="col-2 col-form-label">Luz inicio:</label>
								<div class="form-group col-md-4">							
									<input type="text" class="form-control" th:field="${alquiler.luzInicio}"
										 title="Luz Inicio">
								</div>
								
								<label for="fecha_inicio" class="col-2 col-form-label">Luz fin:</label>
								<div class="form-group col-md-4">							
									<input type="text" class="form-control" th:field="${alquiler.luzFin}"
										 title="Luz Fin">
								</div>
						</div>
						
						<div class="form-row">
								<label for="agua_inicio" class="col-2 col-form-label">Agua inicio:</label>
								<div class="form-group col-md-4">							
									<input type="text" class="form-control" th:field="${alquiler.aguaInicio}"
										 title="Agua Inicio">
								</div>								
								<label for="fecha_inicio" class="col-2 col-form-label">Agua fin:</label>
								<div class="form-group col-md-4">							
									<input type="text" class="form-control" th:field="${alquiler.aguaFin}"
										 title="Agua Fin">
								</div>
						</div>
						
						<div class="input-group mb-3">
								  <div class="input-group-prepend">
								    <span class="input-group-text">Contrato :</span>
								  </div>
								  <div class="custom-file">
								    <input type="file" class="custom-file-input"   name="contrato"  multiple >
								    <label class="custom-file-label" for="inputGroupFile01">Seleccione documento</label>
								  </div>
						</div>
						
						
						
						<div class="input-group">
								  <div class="input-group-prepend">
								    <span class="input-group-text">Observaciones :</span>
								  </div>
								  <textarea class="form-control" aria-label="Observaciones"
								    th:field="${alquiler.observaciones}" ></textarea>
								</div>
								<hr>
					<div class="card-footer bg-ligth">
						<input type="submit" value="Guardar"
							class="btn btn-outline-primary" title="Guardar"> <a
							th:href="@{../}" class="btn btn-outline-danger" title="Cancelar">Cancelar</a>
					</div>
													
				</form>
			</div>
		</div>
	</div>
	<!-- /container --> 
	</main>

	<div th:replace="fragments :: footer"></div>
</body>
</html>
