<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>

	<div th:replace="fragments :: menu"></div>

	<div class="container">
	
	<div class="row">
	    <div class="col-sm-10">
	    	<h1>Recibos de luz </h1>
	    	<h4 class="card-header">Cliente: <strong  th:text="${reciboluz.alquiler.cliente.nombre} +' &nbsp; ' + ${reciboluz.alquiler.cliente.apellidos}"></strong></h4>
	    </div>
	    <div class="col-sm-2">
	     	<a th:href="@{/cliente/crear}"  
			 	class="btn btn-primary btn-lg active  float-right" role="button" aria-pressed="true">
			 <i class="bi bi-plus-circle" role="button"title="Crear cliente">&nbsp;Nuevo</i></a>
	    </div>
    </div>
		
	<div class="alert alert-primary" role="alert" th:text="${message}" th:if="${message}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
	
		  
			
		
	</div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>