<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <title>Gestión MTV | Aplicación para gestión de alquiles MTV.</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link  th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link  th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    
    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"> 	
</head>

<body>

	<div th:fragment="menu">
	
	 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">	 
        <a class="navbar-brand" href="#">Gestión MTV</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cliente/index">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mobiliario/index">Mobiliario</a>
            </li> 
            
             <li class="nav-item">
              <a class="nav-link" href="/alquiler/index" >Alquiler</a>
            </li> 
           
          </ul>
        </div>
      </nav>
   
	</div>
	<!-- menu -->


	<!-- pie -->
 	<footer th:fragment="footer" class="footer">
		      <div class="container">
		        <p>
		          &copy; 2021 Eme3 Gestión MTV, Inc. | Autor: Miguel A. III | &middot; <a href="#">Privacy</a>
		          &middot; <a href="#">Terms</a>
		        </p>
		      </div>
    </footer>
    
</body>
</html>