<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
  <body>
      
  	<div th:replace="fragments :: menu" ></div>
  
      <div class="container">
      
       <div class="col-md-10">
        <div class="h-100 p-5 bg-light border rounded-3">
           <h2 class="font-weight-bold text-left text-capitalize" th:text="${mensaje}" ></h2>  
   	      <h4 th:text="${fecha}"></h4>
        </div>
      </div>
    
    </div>
    
	<div th:replace="fragments :: footer" ></div>   
    
 
  </body>
</html>