<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
	<div th:replace="fragments :: menu"></div>

		
	<div class="container">

		<div class="card">
			<h4 class="card-header" th:text="'Datos del cliente: ' + ${cliente.id}"></h4>
			<div class="card-body">
				<form th:action="@{/cliente/guardar}" th:object="${cliente}"
					method="post">

					<div class="mb-3">	
						<input type="hidden" th:field="*{id}"/>								
						<div class="form-group col-md-6">
							<input type="text" class="form-control" th:field="*{dni}"
								placeholder="DNI" title="DNI" />
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="form-group col-md-6">
							<input type="text" class="form-control" th:field="*{nombre}"
								placeholder="Nombre" title="Nombre">
						</div>
						<div class="form-group col-md-6">
							<input type="text" class="form-control" th:field="*{apellidos}"
								placeholder="Apellidos" title="Apellidos">
						</div>
					</div>
					<div class="mb-3">	
						<div class="form-group col-md-12">
							<input type="text" class="form-control" th:field="*{direccion}"
								placeholder="Direcci&oacute;n" title="Direcci&oacute;n">
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="form-group col-md-6">
							<input type="text" class="form-control" th:field="*{municipio}"
								placeholder="Municipio" title="Municipio">
						</div>

						<div class="form-group col-md-4">
							<input type="text" class="form-control" th:field="*{provincia}"
								placeholder="Provincia" title="Provincia">
						</div>
						<div class="form-group col-md-2">
							<input type="text" class="form-control"
								th:field="*{codigoPostal}" placeholder="CP" title="Codigo Postal">
						</div>
					</div>
					
					<div class="input-group mb-3">
						<div class="form-group col-md-6">
							<input type="email" class="form-control" th:field="*{email}"
								placeholder="Email" title="Email">
						</div>
						<div class="form-group col-md-6">
							<input type="text" class="form-control" th:field="*{telefono}"
								placeholder="Tel&eacute;fono" title="Tel&eacute;fono">
						</div>
					</div>

					<div class="form-group">
						<textarea class="form-control" th:field="*{observaciones}"
							rows="3" placeholder="Observaciones" title="Observaciones"></textarea>
					</div>
					<hr>
					
					<div class="card-footer bg-ligth">
						<input type="submit" value="Guardar"
							class="btn btn-outline-primary" title="Guardar"> <a
							th:href="@{../}" class="btn btn-outline-danger" title="Cancelar">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /container --> 
	

	<div th:replace="fragments :: footer"></div>

</body>
</html>