<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>

	<div th:replace="fragments :: menu"></div>

	<div class="container">
	
	<div class="row">
	    <div class="col-sm-10">
	    	<h1>Clientes</h1>
	    </div>
	    <div class="col-sm-2">
	     	<a th:href="@{/cliente/crear}"  
			 	class="btn btn-primary btn-lg active  float-right" role="button" aria-pressed="true">
			 <i class="bi bi-plus-circle" role="button"title="Crear cliente">&nbsp;Nuevo</i></a>
	    </div>
    </div>
		
	<div class="alert alert-primary" role="alert" th:text="${message}" th:if="${message}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
	

		<table class="table table-hover  table-striped "  data-height="460"
			data-custom-sort="customSort">
			<thead class="table-primary">
				<tr>
					<th scope="col">#</th>
					<th scope="col">DNI</th>
					<th scope="col" data-field="Nombre" data-sortable="true">Nombre</th>
					<th scope="col" data-field="Apellidos" data-sortable="true">Apellidos</th>
					<th scope="col">Dirección</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Municipio</th>
					<th scope="col">Provincia</th>
					<th scope="col" width="20%" class="text-center">Acciones</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="cli : ${listaCliente}">
					<th scope="row" th:text="${cli.id}" />
					<td th:text="${cli.dni}" />
					<td th:text="${cli.nombre}" />
					<td th:text="${cli.apellidos}" />
					<td th:text="${cli.direccion}" />
					<td th:text="${cli.telefono}" />
					<td th:text="${cli.municipio}" />
					<td th:text="${cli.provincia}" />
					<td colspan="2" class="text-center"><a
						th:href="@{/cliente/editar/{id}   (id=${cli.id}) }" class="btn btn-primary">  <i
							class="bi bi-pencil" title="Editar"></i>
					</a> &nbsp;&nbsp; <a
						th:href="@{/cliente/eliminar/{id}   (id=${cli.id}) }"
						class="btn btn-danger"
						onclick="return confirm('¿ Estás seguro de eliminar ?')"> <i
							class="bi bi-trash" title="Eliminar"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>